<H1>
  Modifier le produit</H1>
<form [formGroup]="myForm" (ngSubmit)="submitHandler()">

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput  formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill" class="mt-4">
    <mat-label>Type de produit</mat-label>
    <mat-select formControlName="item_type">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Classification des taxes</mat-label>
    <mat-select formControlName="tax_catagory">
      <mat-option *ngFor="let type of tax_classifications" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Choisir l'option de trancher</mat-label>
    <mat-select formControlName="sliced_option">
      <mat-option [value]="false">
        Non tranché
      </mat-option>
      <mat-option [value]="true">
        Tranché
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Prix</mat-label>
    <input matInput  formControlName="price">
  </mat-form-field>

    <button mat-button class="btn btn-primary mt-2" color="primary" type="submit" [disabled]="myForm.invalid">Enregistrer</button>
    <button mat-button class="ml-2 btn btn-danger mt-2" color="primary" type="button" (click)="delete()">Supprimer</button>
</form>
