<div class="container-fluid">

    <div *ngIf="errorMessage" class="alert alert-danger">
        <p>{{errorMessage}}</p>
    </div>
    <div class="row">
        <div class="col-sm mt-3">
            <button (click)="openDialog()" class=" btn-grad">Ajouter Aliment</button>
            <table mat-table [dataSource]="dataSource" matSort class="table-max mat-elevation-z8 mt-3 table-max">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom </th>
                    <td mat-cell *matCellDef="let item"> {{item.name | capitalize}} </td>
                </ng-container>
                <!-- Item name -->
                <ng-container matColumnDef="item_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> type </th>
                    <td mat-cell *matCellDef="let item"> {{item.item_type | capitalize}} </td>
                </ng-container>

                <!-- Count -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> prix </th>
                    <td mat-cell *matCellDef="let item"> ${{item.price |currency:'CAD':'':'':'fr' }} </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let item"> <button class="btn btn-info" (click)="editItemDialog(item)">Modifier</button> </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedItemColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedItemColumns;"></tr>
            </table>
        </div>


    </div>
