<div class="col-sm header-bar" style="display: flex; align-items: center">
  <button (click)="openDialog()" class=" btn-grad v-top">Nouvelle Commande</button>
  <mat-form-field class="ml-2">
    <input matInput autocomplete="off" placeholder="Rechercher" (keyup)="updateSearch($event.target.value)">
  </mat-form-field>
  <mat-form-field class="ml-2 mr-2" [class.hidden-item]="activeTab == 'Toutes Les Commandes'">
    <mat-label *ngIf="!this.twoDateSelectors">Choisir une date</mat-label>
    <mat-label *ngIf="this.twoDateSelectors">Choisir une date de début</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="onDateSelected($event)" [formControl]="dateForm">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="ml-2 mr-2" *ngIf="this.twoDateSelectors">
    <mat-label>Choisir une date de fin</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="onEndDateSelected($event)" [formControl]="dateEndForm">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

