<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div style="display:flex;"><img src="assets/images/logofinal.png" style="height: 40px">

  <app-dashboard-menu class="content-desktop" *ngIf="router.url == '/dashboard'"></app-dashboard-menu>
  </div>
    <div [isAnimated]="true" [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item " [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
            <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard" routerLinkActive="active">Tableau De Bord</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="items" routerLinkActive="active">Produits Alimentaires</a>
          </li>
            <li class="nav-item " [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
                <a class="nav-link" type="button" (click)="logout()">Déconnexion</a>
            </li>
        </ul>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>



<router-outlet></router-outlet>
