

.navbar {
  padding: 1rem 1rem;
  border-bottom: 1px solid #e0e0e0;
  flex-wrap: nowrap;
}
#navbarSupportedContent{
  text-align: right;
  margin-right:10px;
}
::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding-left:10px!important;
  padding-right: 10px!important;
}
