<h1>{{viewClass}}</h1>

<form [formGroup]="myForm" (ngSubmit)="submitHandler()" *ngIf="formIsReady()" class="form-flex order-form">
  <div class="row top mb-2">
    <div class="col-sm">
      <mat-form-field>
        <input matInput placeholder="Prénom" formControlName="first_name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nom de famille" formControlName="last_name">
      </mat-form-field>

      <mat-form-field>
        <input type="telephone" matInput placeholder="téléphone" formControlName="telephone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>choisir une date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Filtrer les éléments " [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
      </mat-form-field>
      <!-- Don't think we need this field
      <mat-form-field>
          <input type="telephone" matInput placeholder="Numéro client" formControlName="client_number">
      </mat-form-field>
      -->
    </div>
  </div>
  <div class="row flex-row">
    <div class="col-sm">

      <h4>Viennoiserie</h4>
      <mat-dialog-content>
        <mat-form-field class="w-100" *ngFor="let item of organizedItems.viennoiserie | searchFilter: searchText">
          <input type="number" autocomplete="off" matInput placeholder=" {{item.name}} " formControlName="{{item.name}}">
        </mat-form-field>
      </mat-dialog-content>
    </div>
    <div class="col-6 wrap">
      <h4>Pains</h4>
      <mat-dialog-content class="two-column-grid">
        <mat-form-field class="w-100" *ngFor="let item of organizedItems.pains| searchFilter: searchText "  [class.unsliced]="!item.sliced_option">
        <input type="number" autocomplete="off" matInput placeholder=" {{item.name}} " formControlName="{{item.name}}">
        </mat-form-field>
      </mat-dialog-content>
    </div>
    <div class="col-sm">
      <h4>Nöel</h4>
      <mat-dialog-content>
        <mat-form-field class="w-100" *ngFor="let item of organizedItems.noel | searchFilter: searchText">
          <input type="number" matInput autocomplete="off" placeholder=" {{item.name}} " formControlName="{{item.name}}">
        </mat-form-field>
      </mat-dialog-content>
    </div>

  </div>

  <div class="row">
    <div class="col" style="display:inline-flex;">
      <button mat-button class="btn btn-primary" color="primary" type="submit" [disabled]="myForm.invalid">Save Order</button>
      <button type="button" *ngIf="edit" mat-button class="btn btn-danger ml-1" (click)="delete()">Delete</button>
      <mat-form-field appearance="fill"  style="width: 90px; margin-left: 10px;">
        <mat-label>AM/PM</mat-label>
        <mat-select formControlName="timeOfDay">
          <mat-option  [value]="'AM'">
            AM
          </mat-option>
          <mat-option  [value]="'AM'">
            PM
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill"  style="width: 140px; margin-left: 10px;">
        <mat-label>Payé/Non Payé</mat-label>
        <mat-select formControlName="payed">
          <mat-option  [value]="true">
            Payé
          </mat-option>
          <mat-option  [value]="false">
            Non Payé
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field  appearance="fill" style="margin-left: 10px; flex:1">
        <mat-label>Notes</mat-label>
        <textarea matInput
                  formControlName="notes"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

    </div>
    <div class="col-custom ">
      <div class="total_price ">
        <span class="subheading ">Sous-total: </span><span class="subheadingbold ">${{ subTotal | currency:'CAD':'':'':'fr'  }} </span>
        <span class="subheading ">Taxe: </span><span class="subheadingbold ">${{tax | currency:'CAD':'':'':'fr'  }} </span>
        <span class="subheading ">Total: </span><span class="subheadingbold ">${{ total | currency:'CAD':'':'':'fr'  }} </span>

      </div>
    </div>
  </div>

</form>
