/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-max {
    width: 100%;
}

input[type=number] {
    height: 30px;
}

input[type=number]:hover::-webkit-inner-spin-button {
    width: 14px;
    height: 30px;
}

@media print {
    .no-print,
    .mat-tab-labels,
    .mat-tab-labels *,
    .mat-tab-header-pagination,
    .no-print * {
        display: none !important;
    }
}